.rectangulo1 {
    width: 150px;           /* Ancho de 150 píxeles */
    height: 150px;          /* Alto de 150 píxeles */
    border: 1px solid #000; /* Borde color negro y de 1 píxel de grosor */
  }
  .rectaguloBuscar{
    width: 200px;           /* Ancho de 150 píxeles */
    height: 75px;          /* Alto de 150 píxeles */
    border: 1px solid #000;
  }