.rectangulo1 {
    width: 150px;           
    height: 150px;          
    border: 1px solid #000;
  }
  .imagenVolver{
    width: 1em;
    height: 1em;
  }
  .rectaguloBuscar{
    width: 220px;          
    height: 35px;          
    border: 1px solid #000;
  }
  .rectaguloLista{
    width: 220px;           
    height: 400px;          
    border: 1px solid #000; 
  }
  .rectanguloTextoRaza{
    width: 220px;           
    height: 200px;          
    border: 1px solid #000; 
  }
  .rectanguloImagenesRaza{
    width: 220px;           
    height: 200px;          
    border: 1px solid #000; 
  }
  .rectanguloTextoDatos{
    width: 220px;           
    height: 200px;          
    border: 1px solid #000; 
  }
  .rectanguloImagenesDatos{
    width: 220px;           
    height: 200px;          
    border: 1px solid #000; 
  }